.app {
    margin: 100px !important;
}
.app button {
    margin-bottom: 5px !important;
}
.app table {
    border: 1px solid black !important;
}
.table-buttons {
    display: flex;
    justify-content: space-between;
}
.function_buttons {
    display: flex;
    justify-content: space-between;
}