.register-form {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 4px 24px #0000001a;
  margin: 80px 400px;
  padding: 13px 20px 10px;
  text-align: center;
  display: block;
  font-style: normal;
  font-weight: 400;
}
.form-inner {
  margin: 20px;
}
.form-input {
  width: 600px !important;
  margin: 5px 0px 0px 90px;
  padding-left: 5px;
}
.form-inner button {
  background-color: rgb(0, 184, 176);
  color: #fff;
  border: 0.5px solid #e6e6e6;
  border-radius: 7px;
  padding: 8px 20px;
  margin: 10px auto 0;
  width: 62%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.form-inner .login-button:hover {
  box-shadow: 0 3px 15px #0000001a;
}
